<button class="btn btn-light btn-lg drawer" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
    aria-controls="offcanvasWithBothOptions">Menú</button>

<div class="offcanvas offcanvas-start adminOffC" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú de Administrador</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a href="/users">
            <h5><i class="bi bi-person-plus-fill" style="margin-right: 10px;"></i> Dar de alta a estudiantes</h5>
        </a>
        <br>
        <a href="/users/editPass" >
            <h5><i class="bi bi-pencil-square" style="margin-right: 10px;"></i> Editar contraseñas</h5>
        </a>
        <br>
        <a href="/users/deactivate">
            <h5><i class="bi bi-person-x-fill" style="margin-right: 10px;"></i> Desactivar Cuentas</h5>
        </a>
        <br>
        <a href="/logout">
            <h5><i class="bi bi-box-arrow-right" style="margin-right: 10px;"></i> Cerrar Sesión</h5>
        </a>
    </div>
</div>