
<main>

  {{!-- PROMEDIOS EN TODAS LAS MATERIAS --}}
  <canvas id="promedios" width="400" height="400"></canvas>

  {{!-- ESTADO DE LA BECA --}}
  <canvas id="estado" width="400" height="400"></canvas>

  {{!-- PROMEDIO ACTUAL --}}
  <canvas id="promedio" width="400" height="400"></canvas>

  {{!-- CANTIDAD DE MESES CON BECA O SIN ELLA --}}
  <canvas id="meses" width="400" height="400"></canvas>

  {{!-- PROCENTAJE DE LA BECA ACTUAL --}}
  <canvas id="becaActual" width="400" height="400"></canvas>

  {{!-- DESEMPEÑO DE TAREAS, QUIZZES, EXÁMENES --}}
  <canvas id="desempeño" width="400" height="400"></canvas>

</main>

