<div class="bgAdmin"></div>

{{>drawer}}

<br>
<center>
    <h1 class="titulo">Desactivar Cuentas de Usuarios</h1>
</center>

<div class="container">
    <div class="form">
        <div>
            <fieldset>
                <div class="form-group p-2">
                    <label for="dealta" class="form-label">Número de ID
                    </label>
                    <input type="text" class="form-control" id="dealta" aria-describedby="emailHelp"
                        placeholder="ID del estudiante" name="student_id" />
                </div>
                <br>
                <center>
                    <button class="btn btn-danger custom-btn" id="btnDeac">Desactivar Cuenta</button>
                </center>
            </fieldset>
        </div>
    </div>
</div>