<style>
    body {
        overflow: hidden;
    }
</style>

<br>
<center class="mt-4">
    <h1>{{title}}</h1>
    <p>Bienvenido a tu {{title}}</p>
</center>

<section>
    <div class="container-fluid h-custom mt-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/login" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Teclee su número de identificación" name="userID" />
                        <label class="form-label" for="form3Example3">Número de ID</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Teclee su contraseña" name="userPass" />
                        <label class="form-label" for="form3Example4">Contraseña</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center text-md-start py-4 px-4 px-xl-5 bg-primary mt-5">
        <!-- Copyright -->
        <div class="text-white">
            Copyright © 2022. Derechos Reservados.
        </div>
    </div>
</section>